extends ../layouts/default

block css
	link(href="https://cdn.bootcss.com/ekko-lightbox/5.2.0/ekko-lightbox.min.css", rel="stylesheet")

block content
	.container
		if data.type === "摄影作品"
			article.photograph
				h4=data.name
					- var date = new Date(data.time)
					- var time = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();  
						span.time=time
				div.row.gallery-group
					each item in data.files
						a.col-lg-2.col-md-3.col-sm-6.gallery-item(href=item.url, data-toggle="lightbox", data-gallery="gallery")
							img.img-fluid(src=item.url.replace("http://huxinmin.oss-cn-qingdao.aliyuncs.com","http://static.huxinmin.com")) 
		if data.type === "代码作品"
			article.work-photograph
				each item in data.files
					img(src=item.url)
		if data.type === "UI作品"
			article.work-photograph
				each item in data.files
					img(src=item.url)
		if data.type === "视频作品"
			article.work-photograph
				each item in data.files
					img(src=item.url)

block js
	script(src='https://cdn.bootcss.com/ekko-lightbox/5.2.0/ekko-lightbox.min.js')
	//要在前端js使用后端的数据,首先在后端JSON.stringify(data),然后前台直接使用 !{data}
	script.
		$(document).ready(function(){
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();

			});
			var arr= [];
			var imgs = $(".img-fluid");
			for(var i=0; i< imgs.length; i++){
				arr.push(imgs.eq(i).height())
			}
			var min_in_arr = Math.min.apply(null, arr);
			var min_h = Math.floor(Math.max(min_in_arr,$(".gallery-item").width()*0.6));
			$(".gallery-item").height(min_h);
		});
		