include ../mixins/flash-messages

doctype html
html(lang="zh-CN")

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= !!(page&&page.title)?page.title:""
		meta(name="keywords", content=!!(page&&page.keywords)?page.keywords:"")
		meta(name="description", content=!!(page&&page.description)?page.description:"")

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.min.css", rel="stylesheet")
		
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//-[if lt IE 9]
			script(src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js")
			script(src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
		//-[endif]

		block css
		block head
		script.
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?44fbf3f83d5802e8a86ebc8206194142";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
	//- HTML BODY
	body

		//- HEADER
		#header: .container
			div.banner-box
				h3="胡新敏的个人博客|专注互联网IT技术"
		.nav-container
			#nav: .container
				div(role="navigation").navbar.navbar-default
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						div.search-box.navbar-right
							form.search-form
								input#search(type='text', placeholder='搜索').form-control
								button.btn.btn-link.search-btn
									i.glyphicon.glyphicon-search
						
		//- BODY
		#body

			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content
		div#back-to-top
			svg(class="icon", style="fill: currentColor;overflow: hidden;" ,viewBox="0 0 1024 1024", version="1.1", xmlns="http://www.w3.org/2000/svg", p-id="613")
				path(d="M272.64 228.736h478.72c9.088 0 16.64 7.552 16.64 16.64s-7.552 16.64-16.64 16.64H272.64c-9.088 0-16.64-7.552-16.64-16.64s7.552-16.64 16.64-16.64z m487.168 320.512L539.392 321.28c-14.72-15.36-39.552-15.36-54.272 0L264.704 549.248c-13.824 14.464-3.584 38.656 16.256 38.656h97.152c6.272 0 11.52 5.12 11.52 11.52v157.952c0 20.864 16.896 38.016 37.632 38.016h169.728c20.864 0 37.632-16.896 37.632-38.016V599.296c0-6.272 5.12-11.52 11.52-11.52h97.664c19.968-0.256 30.208-24.32 16-38.528m-44.544 5.12h-75.648c-20.864 0-37.632 16.896-37.632 38.016v157.952c0 6.272-5.12 11.52-11.52 11.52H433.92c-6.272 0-11.52-5.12-11.52-11.52V592.384c0-20.864-16.896-38.016-37.632-38.016h-75.392c-1.792 0-2.432-2.048-1.152-3.328l196.352-201.984c4.48-4.48 11.776-4.48 16.256 0l196.352 201.984c0.768 1.536-0.128 3.328-1.92 3.328", fill=currentColor, p-id="614")
		//- FOOTER
		#footer: .container
			p
				a(href='http://huxinmin.com')="Copyright © 胡新敏的个人博客"
				span="|"
				a(class="beian", target="_blank",rel="nofollow", href="http://www.miitbeian.gov.cn")="苏ICP备16006438号-1"
				span="|"
				a(class='sitemap',target="_blank", href='/sitemap.xml')="网站地图"
				div(style="width:300px;margin:0 auto; padding:20px 0;text-align:center;")
					a(target="_blank",rel="nofollow", href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011302320510", style="display:inline-block;text-decoration:none;height:20px;line-height:20px;")
						img(src="/images/gov.png" style="float:left;")
						p(style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;")='苏公网安备 32011302320510号'
		 


		//- JAVASCRIPT
		script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
		script(src='https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js')
		script(src='/js/common.js')
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
			
		block js
