extends ../layouts/default
include ../mixins/aside
include ../mixins/tree

block head
	link(rel='canonical', href='http://huxinmin.com/home/'+page._id)

block css
	link(href="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css", rel="stylesheet")
	link(href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/monokai-sublime.min.css", rel="stylesheet")

block content
	.container: .row
		div.col-sm-12.col-md-12.col-lg-8
			div.post-container
				h1.post-title=data.post.name
				h5.post-tags
					each tag in data.post.tags
						a.hot-tag(herf=tag._id)=tag.name
				div.post-views-comments-time
					- var date = new Date(data.post.time)
					- var time = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();  
						span.post-time
							i.glyphicon.glyphicon-time
							=time
						span.post-comments
							i.glyphicon.glyphicon-comment
							=data.post.comments
						span.post-views
							i.glyphicon.glyphicon-eye-open
							=data.post.views
					div.bdsharebuttonbox(style='float:right')
						a(href="#", class="bds_more", data-cmd="more")
						a(href="#", class="bds_qzone", data-cmd="qzone", title="分享到QQ空间")
						a(href="#", class="bds_tsina", data-cmd="tsina", title="分享到新浪微博")
						a(href="#", class="bds_tqq", data-cmd="tqq", title="分享到腾讯微博")
						a(href="#", class="bds_renren", data-cmd="renren", title="分享到人人网")
						a(href="#", class="bds_weixin", data-cmd="weixin", title="分享到微信")
				div.post-content !{data.post.contents.html}
			div.sponsor-container
				h4="您的支持是博主写作最大的动力，如果您喜欢我的文章，感觉我的文章对您有帮助，扫下面的码打赏一下吧"
				div.qr-code.row
					.col-lg-6.col-md-6.col-sm-6
						h4="微信打赏"
						img(src='/images/wechat.png')
					.col-lg-6.col-md-6.col-sm-6
						h4="支付宝打赏"
						img(src='/images/alipay.png')
			div.post-comments-container
				form.form-inline#comments-form(action='/addcomments.html', method='post')
					.comment-title
						h4="发表评论"
					input(type='hidden', name='action', value='comments')
					input(type='hidden', name='post', value=data.post._id)
					.form-group.comment-input
						label.col-sm-1="姓名"
						.col-sm-6
							input.form-control(name="name",type="text",maxlength="20",required='required')
					.form-group.comment-input
						label.col-sm-1="邮箱"
						.col-sm-6
							input.form-control(name="email",type="email",maxlength="20",required='required')
					.form-group.comment-textarea
						label.col-sm-1="评论"
						.col-sm-8
							textarea#message-textarea.form-control(name="message",maxlength="200", placeholder="文明上网,理性发言", required='required')
					.form-group.comment-input
						label.col-sm-1="验证码"
						.col-sm-6
							input.form-control#captcha(name="captcha",type="text",maxlength="4",required='required')
							div !{data.captcha}
					.form-group.comment-btn
						.col-sm-offset-1.col-sm-10
							input#submit-message.btn.btn-success(value='提交')
				if !!data.comments.length
					.comment-title
						h4="评论列表"
					div.post-comments-group
						each comment in data.comments
							div.list-item
								- var date = new Date(comment.time)
								- var time = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
								div.comment-username=comment.name.first
									span=time
								div.comment-message=comment.message
						if data.comments.length >=20
							.alert.alert-success.next-comments-page(role="alert")="下一页"
							
				else
					h4="暂无评论"
						

		+aside(data)
			
block js
	+tree(data)
	//需要别的语言支持的时候就去找不同的语言的js支持包
	script(src='https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js')
	script(src='https://cdn.bootcss.com/highlight.js/9.12.0/languages/javascript.min.js')
	script(src='https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js')
	script(src='https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js')
	script.
		hljs.initHighlightingOnLoad();
		$(document).ready(function(){
			$("#comments-form").validate();
		});